mixin createPostForm(userLoggedIn)
  .postFormContainer 
    .userImageContainer 
      img(src=userLoggedIn.profilePic, alt="User Profile Picture")
    .textareaContainer
      textarea#postTextarea(name="",placeholder="what's up brooo....") 
      .buttonsContainer 
      button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedIn)
  #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#replyModalLabel.modal-title Reply
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          #originalPostContainer
          .postFormContainer 
            .userImageContainer 
              img(src=userLoggedIn.profilePic, alt="User Profile Picture")
            .textareaContainer
              textarea#replyTextarea(name="",placeholder="what's up brooo....")
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button#submitReplyButton.btn.btn-primary(type='button' disabled='') Reply
        

mixin createDeletePostModal()
  #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#deletePostModalLabel.modal-title Delete this post?
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p You won't able to delete this....
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button#deletePostButton.btn.btn-primary(type='button') Delete        

mixin createPostModals(userLoggedIn)
  +createReplyModal(userLoggedIn)
  +createDeletePostModal()    
  +createPinnedPostModal()   
  +createUnpinPostModal()   

mixin createFollowButton(user,isFollowing)
  -text=isFollowing?"Following":"Follow";
  -buttonClass=isFollowing?"followButton following":"followButton";
  button(class=buttonClass,data-user=user._id) #{text}

mixin createTab(name,href,isSelect)
  - className=isSelect?"tab active":"tab"
  a(href=href,class=className)
    span #{name} 


mixin createImageUploadModal()
  #imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#imageUploadModalLabel.modal-title Upload a profile picture
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          input#filePhoto(type="file",name="filePhoto")

          .imagePreviewContainer
            img#imagePreview
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') cancel
          button#imageUploadButton.btn.btn-primary(type='button') Save

mixin createCoverPhotoUploadModal()
  #coverPhotoUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverPhotoUploadModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#coverPhotoUploadModalLabel.modal-title Upload a cover Photo
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          input#coverPhoto(type="file",name="filePhoto")

          .imahePreviewContainer
            img#coverPreview
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') cancel
          button#coverPhotoButton.btn.btn-primary(type='button') Save


mixin createPinnedPostModal()
  #confirmPinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmPinModalModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#confirmPinModalLabel.modal-title Pin this post???
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p this post will appear at the top of your profile...You can pin only one post

          .imahePreviewContainer
            img#coverPreview
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') cancel
          button#pinPostButton.btn.btn-primary(type='button') Pin    

mixin createUnpinPostModal()
  #unpinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='unpinModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#unpinModalLabel.modal-title Unpin??
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p This post will unpinned.....

          .imagePreviewContainer
            img#coverPreview
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') cancel
          button#unpinPostButton.btn.btn-primary(type='button') Pin      

mixin createChatImage(chatData,userLoggedIn)
  if(!chatData)
    return

  - let i=0
  - const maxImageToShow=3
  -let remainingUsers=chatData.users.length-maxImageToShow
  -remainingUsers-- //removing one we don't show our own image  

  .chatImagesContainer 
    if remainingUsers>0
      .userCount
        span +#{remainingUsers}
    each user in chatData.users
      if chatData.users.length!=1 && user._id==userLoggedIn._id
        -continue
      else if i>=maxImageToShow
        - break 

      img(src=user.profilePic, alt="user profile picture",title=user.firstName)
      -i++;                                    

mixin createchatNameModal(chat)
  #chatNameModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='chatNameModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#chatNameModalLabel.modal-title Change the chat name
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          input#chatNameTextbox(type="text",placeholder="enter a name for this chat",value=chat.chatName)

          .imagePreviewContainer
            img#coverPreview
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') cancel
          button#chatNameButton.btn.btn-primary(type='button') Save        